services:
    kwc_newsletter.maintenance_job.start:
            class: KwcNewsletter\Bundle\MaintenanceJob\StartJob
            arguments: [@kwc_newsletter.model.newsletters]
            tags:
                - { name: 'kwf.maintenance_job' }

    kwc_newsletter.maintenance_job.delete_unsubscribed:
            class: KwcNewsletter\Bundle\MaintenanceJob\DeleteUnsubscribedJob
            arguments: [@kwc_newsletter.model.subscribers]
            tags:
                - { name: 'kwf.maintenance_job' }

    kwc_newsletter.maintenance_job.delete_not_activated:
            class: KwcNewsletter\Bundle\MaintenanceJob\DeleteNotActivatedJob
            arguments: [@kwc_newsletter.model.subscribers]
            tags:
                - { name: 'kwf.maintenance_job' }
